{% extends 'layouts/navbar.html'%}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'fonts/Minecrafter-MA3Dw.ttf' %}">
<link rel="stylesheet" href="{% static 'fonts/MinecraftRegular-Bmg3.otf' %}">
<link rel="stylesheet" href="{% static 'generate.css' %}">
<title>Generate</title>
<main>        

    <div class="container">
        <form method="post">
            <div class="container-form">
                {% csrf_token %}
                <label for="{{ form.name.id_for_label }}" class="custom-label">Nombre de la Criatura:</label>
                {{ form.name }}    
            </div>
            <button>Generate</button>
        </form>
    </div>
    
</main>
{% endblock %}
