{% extends 'layouts/background.html'%}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Minecrafter-MA3Dw.ttf' %}">
    <link rel="stylesheet" href="{% static 'fonts/MinecraftRegular-Bmg3.otf' %}">
</head>
<body>

    <div class="title">
        <h1>Welcome</h1>
        <h1>Minecraft Cards Generator</h1>
    </div>
    
    <ul class="container">
        <li class="nav-link"><a href="generate/">Generate</a></li>
        <li class="nav-link"><a href="collection/">Collections</a></li>
        {% if user.is_authenticated %}
        <li class="nav-link"><a href="/singout">Logout</a></li>
        {% else %}
        <li class="nav-link"><a href="/singup">Sing Up</a></li>
        <li class="nav-link"><a href="/singin">Sing In</a></li>
        {% endif %}
    </ul>

</body>
</html>
{% endblock %}